<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProfile name="!docker">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="docker">
    <springProperty scope="context" name="logstashHost" source="gateway.logging.logstash.host" defaultValue="logstash"/>
    <springProperty scope="context" name="logstashPort" source="gateway.logging.logstash.port" defaultValue="5000"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${logstashHost}:${logstashPort}</destination>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"payment-gateway"}</customFields>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="LOGSTASH"/>
    </root>
  </springProfile>
</configuration>
